<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Contact List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"></script>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="main.js"></script>
</head>
<body ng-app='MyApp'>
  <div class="container">
    <h1>Contact List</h1>
    <div ng-controller='mainCtrl'>
      <h3 ng-show='!editing'>New Contact:</h3>
      <h3 ng-show='editing'>Edit Contact:</h3>
      <div class="jumbotron">
        <form class="form-inline" ng-show='!editing'>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" ng-model='newContact.name'>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" ng-model='newContact.email'>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" class="form-control" ng-model='newContact.phone'>
          </div>
          <button type="submit" class="btn btn-success" ng-click='addContact()'>Add Contact</button>
        </form>
        <form class="form-inline" ng-show='editing'>
          <div class="form-group">
            <label for="editName">Name:</label>
            <input type="text" class="form-control" id='editName' ng-model='editedContact.name'>
          </div>
          <div class="form-group">
            <label for="editEmail">Email:</label>
            <input type="email" class="form-control" id='editEmail' ng-model='editedContact.email'>
          </div>
          <div class="form-group">
            <label for="editPhone">Phone Number:</label>
            <input type="tel" class="form-control" id='editPhone' ng-model='editedContact.phone'>
          </div>
          <button type="submit" class="btn btn-info" ng-click='editContact()'>Edit Contact</button>
        </form>
        <form ng-show='searching'>
          <div class="form-group">
            <label for="filter">Search Contacts:</label>
            <input type="text" class="form-control" ng-model='filterText'>
          </div>
        </form>
      </div>
      <button class="btn btn-warning" ng-click='showSearch()'>Search Contacts</button>
      <hr>
      <table class="table table-hover" ng-if='contacts.length'>
        <thead>
          <tr>
            <th>#</th>
            <th ng-repeat='(key, value) in contacts[0]' class='sortHeads'>
              {{key.toUpperCase()}}
              <span ng-click='sortContact(key)' class='fa fa-caret-square-o-down'></span>
            </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody id="contactList">
          <tr ng-repeat='(key, contact) in contacts | filter:filterText | orderBy:sortText track by $index' ng-class='{electricblue: $even}'>
            <td>{{$index + 1}}</td>
            <td ng-repeat='value in contact'>{{value}}</td>
            <td class="edit" ng-click='startEdit(contact)'>
              <span class="fa fa-pencil-square-o fa-lg"></span>
            </td>
            <td class="delete" ng-click='deleteContact(contact)'>
              <span class="fa fa-trash-o fa-lg"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>